<main class="contenedor">
      <form action="" method="POST" class="default-form">
          <div class="campo">
            <label>Nuevo Password</label>
            <input type="password" name="password" placeholder="Nuevo Password" required>  
        </div>
        <div class="campo">
            <input type="submit" value="Guardar Passwprd" class="btn btn-azul">
        </div>
    </form>
    </form>
</main>