<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
          <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu email" required>  
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">volver a Iniciar Session</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Passwprd" class="btn btn-azul">
        </div>
    </form>
    </form>
</main>